@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Yu Gothic', YuGothic, 'Helvetica Nueue', Arial, 微軟正黑體, sans-serif; }

iframe {
  width: 150vh;
  height: 90vh; }

.section {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; }
  .section:nth-child(1) {
    background-color: #fff;
    background-image: url(../imgs/bg_welcome.png); }
  .section:nth-child(2) {
    background-color: #fff; }
  .section:nth-child(3) {
    background-color: #fff; }
  .section:nth-child(4) {
    background-color: #1a1a1a; }
  .section:nth-child(5) {
    background-color: #1a1a1a;
    background-image: url(../imgs/bg_index_graphic.png); }
  .section:nth-child(6) {
    background-color: #1a1a1a;
    background-image: url(../imgs/bg_index_photography.png); }
  .section:nth-child(7) {
    background-color: #1a1a1a;
    background-image: url(../imgs/bg_index_webvisual.png); }
  .section:nth-child(8) {
    background-color: #1a1a1a;
    background-image: url(../imgs/bg_index_motionfilm.png); }

@-webkit-keyframes works-btn-in {
  0% {
    margin-left: 40%;
    margin-right: 40%;
    background-color: #1a1a1a; }
  100% {
    margin-left: 35%;
    margin-right: 35%;
    background-color: #856e40; } }

@-webkit-keyframes works-btn-out {
  0% {
    margin-left: 35%;
    margin-right: 35%;
    background-color: #856e40; }
  100% {
    margin-left: 40%;
    margin-right: 40%;
    background-color: #1a1a1a; } }

@-webkit-keyframes works-mobile-btn-in {
  0% {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #1a1a1a; }
  100% {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #856e40; } }

@-webkit-keyframes works-mobile-btn-out {
  0% {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #856e40; }
  100% {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #1a1a1a; } }

@-webkit-keyframes works-pad-btn-in {
  0% {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #1a1a1a; }
  100% {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #856e40; } }

@-webkit-keyframes works-pad-btn-out {
  0% {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #856e40; }
  100% {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #1a1a1a; } }

.section .works-content-box {
  text-align: center;
  color: #fff;
  position: relative;
  top: 30%;
  font-weight: bold;
  z-index: 2; }
  .section .works-content-box .works-content-h2 {
    font-size: 50px;
    padding-bottom: 1%; }
  .section .works-content-box .works-content-h3 {
    padding-bottom: 2%;
    font-size: 32px; }
  .section .works-content-box .works-content-p {
    font-size: 16px;
    color: #fff;
    padding-top: 2%; }
  .section .works-content-box a .works-link-bg {
    margin-left: 40%;
    margin-right: 40%;
    z-index: 2;
    height: 100px;
    background-color: #1a1a1a;
    -webkit-animation: works-btn-out .5s forwards;
    animation: works-btn-out .5s forwards; }
    .section .works-content-box a .works-link-bg img {
      padding-top: 20px;
      z-index: 3;
      width: 120px; }
  .section .works-content-box a .works-link-bg:hover {
    -webkit-animation: works-btn-in .5s forwards;
    animation: works-btn-in .5s forwards; }

.scroll-down {
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 10;
  background-color: #856e40;
  text-align: center; }
  .scroll-down a {
    position: relative;
    text-decoration: none;
    white-space: nowrap; }
    .scroll-down a .scroll-down-text {
      position: relative;
      font-weight: bold;
      top: -7vh;
      color: #cacaca;
      font-size: 50px; }
    .scroll-down a img {
      position: relative;
      width: 20px;
      top: -3vh; }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .section:nth-child(2) .scroll-down {
    display: none; }
  .section:nth-child(3) .scroll-down {
    display: none; }
  .section:nth-child(4) .scroll-down {
    display: none; }
  .section .scroll-down a .scroll-down-text {
    font-size: 32px; }
  .section .scroll-down a img {
    top: -4vh; }
  .section .works-content-box {
    text-align: center;
    color: #fff;
    position: relative;
    top: 25%;
    font-weight: bold;
    z-index: 2; }
    .section .works-content-box .works-content-h2 {
      font-size: 50px;
      padding-bottom: 5%; }
    .section .works-content-box .works-content-h3 {
      padding-bottom: 5%;
      font-size: 32px; }
    .section .works-content-box .works-content-p {
      font-size: 16px;
      color: #fff;
      padding-top: 5%; }
    .section .works-content-box a .works-link-bg {
      margin-left: 10%;
      margin-right: 10%;
      z-index: 2;
      height: 100px;
      background-color: #1a1a1a;
      -webkit-animation: works-mobile-btn-out .5s forwards;
      animation: works-mobile-btn-out .5s forwards; }
      .section .works-content-box a .works-link-bg img {
        padding-top: 30px;
        z-index: 3;
        width: 80px; }
    .section .works-content-box a .works-link-bg:hover {
      -webkit-animation: works-mobile-btn-in .5s forwards;
      animation: works-mobile-btn-in .5s forwards; } }

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .section .works-content-box .works-content-h2 {
    font-size: 50px;
    padding-bottom: 5%; }
  .section .works-content-box .works-content-h3 {
    padding-bottom: 5%;
    font-size: 32px; }
  .section .works-content-box .works-content-p {
    font-size: 16px;
    padding-top: 5%; }
  .section .works-content-box a .works-link-bg {
    margin-left: 20%;
    margin-right: 20%;
    height: 100px;
    -webkit-animation: works-pad-btn-out .5s forwards;
    animation: works-pad-btn-out .5s forwards; }
    .section .works-content-box a .works-link-bg img {
      padding-top: 25px;
      width: 100px; }
  .section .works-content-box a .works-link-bg:hover {
    -webkit-animation: works-pad-btn-in .5s forwards;
    animation: works-pad-btn-in .5s forwards; } }

@-webkit-keyframes menu-in {
  0% {
    color: #cacaca;
    top: 30px;
    left: 38px;
    padding: 0px 0px 10px 0px;
    background-color: #1a1a1a; }
  50% {
    color: #cacaca; }
  100% {
    color: #1a1a1a;
    top: 0px;
    left: 0px;
    padding: 31px 38px 31px 38px;
    background-color: #cacaca; } }

@-webkit-keyframes menu-out {
  0% {
    color: #1a1a1a;
    top: 0px;
    left: 0px;
    padding: 31px 38px 31px 38px;
    background-color: #cacaca; }
  50% {
    color: #1a1a1a; }
  100% {
    color: #cacaca;
    top: 30px;
    left: 38px;
    padding: 0px 0px 10px 0px;
    background-color: #1a1a1a; } }

@-webkit-keyframes logo-in {
  0% {
    left: 31px;
    top: 30px;
    weight: 0px;
    padding: 0px;
    color: #cacaca;
    background-color: #1a1a1a; }
  50% {
    color: #cacaca; }
  100% {
    left: 0px;
    top: 0px;
    weight: 187.13px;
    padding: 31px;
    color: #1a1a1a;
    background-color: #cacaca; } }

@-webkit-keyframes logo-out {
  0% {
    left: 0px;
    top: 0px;
    weight: 187.13px;
    padding: 31px;
    color: #1a1a1a;
    background-color: #cacaca; }
  50% {
    color: #1a1a1a; }
  100% {
    left: 31px;
    top: 30px;
    weight: 0px;
    padding: 0px;
    color: #cacaca;
    background-color: #1a1a1a; } }

@-webkit-keyframes menulist-in {
  0% {
    color: #cacaca; }
  100% {
    color: #856e40; } }

@-webkit-keyframes menulist-out {
  0% {
    color: #856e40; }
  100% {
    color: #cacaca; } }

@-webkit-keyframes menu-close-in {
  0% {
    color: #1a1a1a;
    background-color: #cacaca; }
  100% {
    color: #cacaca;
    background-color: #856e40; } }

@-webkit-keyframes menu-close-out {
  0% {
    color: #cacaca;
    background-color: #856e40; }
  100% {
    color: #1a1a1a;
    background-color: #cacaca; } }

.nav {
  top: 0px;
  width: 100%;
  height: 80px;
  font-weight: bold;
  background-color: #1a1a1a;
  z-index: 10;
  position: fixed; }
  .nav .nav-logo-box {
    position: absolute;
    font-size: 18px;
    weight: 187.13px;
    height: 80px;
    top: 0px;
    left: 8.45%;
    background-color: #1a1a1a; }
  .nav .nav-logo-box a {
    cursor: pointer;
    text-decoration: none; }
    .nav .nav-logo-box a .nav-logo {
      position: relative;
      left: 31px;
      top: 30px;
      padding: 0px;
      color: #cacaca;
      background-color: #1a1a1a;
      -webkit-animation: logo-out .5s forwards;
      animation: logo-out .5s forwards; }
  .nav .nav-logo-box:hover .nav-logo {
    -webkit-animation: logo-in .5s forwards;
    animation: logo-in .5s forwards; }
  .nav .nav-menu-box {
    width: 120px;
    height: 70px;
    left: 46.6%;
    padding: 0px 0px 10px 0px;
    background-color: #1a1a1a;
    position: absolute; }
  .nav .nav-menu-box a {
    cursor: pointer;
    text-decoration: none; }
    .nav .nav-menu-box a .btn-menu-open {
      width: 44px;
      top: 30px;
      left: 38px;
      padding: 0px 0px 10px 0px;
      color: #cacaca;
      border-bottom: 2px solid #cacaca;
      position: relative;
      -webkit-animation: menu-out .5s forwards;
      animation: menu-out .5s forwards; }
  .nav .nav-menu-box:hover .btn-menu-open {
    -webkit-animation: menu-in .5s forwards;
    animation: menu-in .5s forwards; }

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  background-color: #1a1a1a;
  z-index: 11;
  overflow: hidden;
  text-align: center; }
  .nav-menu .close-menu {
    position: relative;
    padding: 10px 0px 10px 0px;
    margin: 3% 45% 0px 45%;
    background-color: #FFF;
    font-size: 16px;
    background-color: #cacaca;
    color: #1a1a1a;
    cursor: pointer;
    -webkit-animation: menu-close-out .5s forwards;
    animation: menu-close-out .5s forwards; }
  .nav-menu .close-menu:hover {
    -webkit-animation: menu-close-in .5s forwards;
    animation: menu-close-in .5s forwards; }
  .nav-menu .contact-info {
    line-height: 24px;
    font-weight: bold;
    width: 50%;
    height: 100vh;
    float: left;
    border-right: 1px solid #4d4d4d;
    opacity: 0; }
    .nav-menu .contact-info h3 {
      color: #4d4d4d;
      text-align: left;
      font-size: 16px;
      padding-bottom: 20%;
      padding-left: 5%; }
    .nav-menu .contact-info .email, .nav-menu .contact-info .phone-number, .nav-menu .contact-info .facebook {
      font-size: 16px;
      color: #333333; }
      .nav-menu .contact-info .email a, .nav-menu .contact-info .phone-number a, .nav-menu .contact-info .facebook a {
        color: #fff;
        text-decoration: none;
        color: #cacaca; }
      .nav-menu .contact-info .email div, .nav-menu .contact-info .phone-number div, .nav-menu .contact-info .facebook div {
        letter-spacing: 6px;
        color: #fff;
        padding-bottom: 5%;
        padding-top: 3%;
        font-size: 40px; }
  .nav-menu .menu-list {
    line-height: 24px;
    font-weight: bold;
    width: 49.9%;
    float: left;
    opacity: 0; }
    .nav-menu .menu-list h3 {
      text-align: right;
      font-size: 16px;
      padding-bottom: 10%;
      padding-right: 5%;
      color: #4d4d4d; }
    .nav-menu .menu-list a {
      color: #fff;
      text-decoration: none;
      color: #cacaca;
      -webkit-animation: menulist-out .5s forwards;
      animation: menulist-out .5s forwards; }
      .nav-menu .menu-list a .menu-list-text {
        letter-spacing: 3px;
        padding-bottom: 6%;
        font-size: 36px; }
        .nav-menu .menu-list a .menu-list-text:nth-child(2) {
          padding-top: 5%; }
    .nav-menu .menu-list a:hover {
      -webkit-animation: menulist-in .5s forwards;
      animation: menulist-in .5s forwards; }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .nav .nav-logo-box {
    left: 0px; }
  .nav .nav-logo-box a .nav-logo {
    left: 30px;
    top: 30px;
    -webkit-animation: logo-outt .5s forwards;
    animation: logo-outt .5s forwards; }
  .nav .nav-logo-box:hover .nav-logo {
    -webkit-animation: logo-inn .5s forwards;
    animation: logo-inn .5s forwards; }
  .nav .nav-menu-box {
    left: 70%; }
  .nav .nav-menu-box a .btn-menu-open {
    top: 25px;
    -webkit-animation: menu-outt .5s forwards;
    animation: menu-outt .5s forwards; }
  .nav .nav-menu-box:hover .btn-menu-open {
    -webkit-animation: menu-inn .5s forwards;
    animation: menu-inn .5s forwards; }
  .nav-menu .close-menu {
    padding: 20px 10px 20px 10px;
    margin: 0px 0px 0px 0px;
    background-color: #FFF;
    -webkit-animation: menu-close-out .5s forwards;
    animation: menu-close-out .5s forwards; }
  .nav-menu .close-menu:hover {
    -webkit-animation: menu-close-in .5s forwards;
    animation: menu-close-in .5s forwards; }
  .nav-menu .contact-info {
    line-height: 0px;
    width: 100%;
    height: 26vh;
    float: clear;
    border-bottom: 0px solid #4d4d4d;
    padding-top: 7%; }
    .nav-menu .contact-info h3 {
      color: #cacaca;
      text-align: center;
      font-size: 16px;
      padding-bottom: 7%;
      padding-left: 0px; }
    .nav-menu .contact-info .email, .nav-menu .contact-info .phone-number, .nav-menu .contact-info .facebook {
      color: #4d4d4d; }
      .nav-menu .contact-info .email div, .nav-menu .contact-info .phone-number div, .nav-menu .contact-info .facebook div {
        letter-spacing: 1px;
        color: #cacaca;
        padding-bottom: 8%;
        padding-top: 6%;
        font-size: 24px; }
  .nav-menu .menu-list {
    line-height: 0px;
    width: 100%;
    height: 60vh;
    background-color: #856e40;
    padding-top: 7.5%;
    float: clear; }
    .nav-menu .menu-list h3 {
      text-align: center;
      font-size: 16px;
      padding-bottom: 5%;
      padding-right: 0px;
      color: #333333; }
    .nav-menu .menu-list a {
      color: #fff;
      text-decoration: none;
      color: #cacaca;
      -webkit-animation: menulist-out .5s forwards;
      animation: menulist-out .5s forwards; }
      .nav-menu .menu-list a .menu-list-text {
        text-align: center;
        letter-spacing: 3px;
        padding-top: 8%;
        padding-bottom: 8%;
        border-bottom: 1px solid #cacaca;
        font-size: 20px; }
      .nav-menu .menu-list a:nth-child(6) .menu-list-text {
        border-bottom: 0px solid #cacaca; }
    .nav-menu .menu-list a:hover {
      -webkit-animation: menulist-in .5s forwards;
      animation: menulist-in .5s forwards; } }

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .nav .nav-logo-box {
    left: 0px; }
  .nav .nav-logo-box a .nav-logo {
    left: 30px;
    top: 30px;
    -webkit-animation: logo-outt .5s forwards;
    animation: logo-outt .5s forwards; }
  .nav .nav-logo-box:hover .nav-logo {
    -webkit-animation: logo-inn .5s forwards;
    animation: logo-inn .5s forwards; }
  .nav .nav-menu-box {
    left: 70%; }
  .nav .nav-menu-box a .btn-menu-open {
    top: 25px;
    -webkit-animation: menu-outt .5s forwards;
    animation: menu-outt .5s forwards; }
  .nav .nav-menu-box:hover .btn-menu-open {
    -webkit-animation: menu-inn .5s forwards;
    animation: menu-inn .5s forwards; }
  .nav-menu .close-menu {
    padding: 20px 10px 20px 10px;
    margin: 0px 0px 0px 0px;
    background-color: #FFF;
    -webkit-animation: menu-close-out .5s forwards;
    animation: menu-close-out .5s forwards; }
  .nav-menu .close-menu:hover {
    -webkit-animation: menu-close-in .5s forwards;
    animation: menu-close-in .5s forwards; }
  .nav-menu .contact-info {
    line-height: 0px;
    width: 100%;
    height: 30vh;
    float: clear;
    border-bottom: 0px solid #4d4d4d;
    padding-top: 4%; }
    .nav-menu .contact-info h3 {
      color: #cacaca;
      text-align: center;
      font-size: 20px;
      padding-bottom: 4%;
      padding-left: 0px; }
    .nav-menu .contact-info .email, .nav-menu .contact-info .phone-number, .nav-menu .contact-info .facebook {
      font-size: 16px;
      color: #4d4d4d; }
      .nav-menu .contact-info .email div, .nav-menu .contact-info .phone-number div, .nav-menu .contact-info .facebook div {
        letter-spacing: 1px;
        color: #cacaca;
        padding-bottom: 5%;
        padding-top: 4%;
        font-size: 24px; }
  .nav-menu .menu-list {
    line-height: 0px;
    width: 100%;
    height: 60vh;
    background-color: #856e40;
    padding-top: 4%;
    margin-top: 4%;
    float: clear; }
    .nav-menu .menu-list h3 {
      text-align: center;
      font-size: 20px;
      padding-bottom: 2%;
      padding-right: 0px;
      color: #333333; }
    .nav-menu .menu-list a {
      color: #fff;
      text-decoration: none;
      color: #cacaca;
      -webkit-animation: menulist-out .5s forwards;
      animation: menulist-out .5s forwards; }
      .nav-menu .menu-list a .menu-list-text {
        text-align: center;
        letter-spacing: 3px;
        padding-top: 3%;
        padding-bottom: 3%;
        border-bottom: 1px solid #cacaca;
        font-size: 20px; }
    .nav-menu .menu-list a:hover {
      -webkit-animation: menulist-in .5s forwards;
      animation: menulist-in .5s forwards; } }

.section:nth-child(1) .title-welcome {
  font-size: 6.25em;
  font-weight: bold;
  color: #000;
  line-height: 140px;
  position: absolute; }
  .section:nth-child(1) .title-welcome .title-welcome-color {
    width: 55px;
    height: 55px;
    background-color: #856e40;
    position: absolute;
    margin-left: 510px;
    top: 60px; }
  .section:nth-child(1) .title-welcome .title-welcome-first {
    text-align: left;
    color: #FFF;
    padding: 10px 40px 10px 40px;
    border: 15px solid #000;
    border-bottom: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(../imgs/bg_welcome-2.png); }
  .section:nth-child(1) .title-welcome .title-welcome-second {
    color: #fff;
    padding: 10px 40px 10px 40px;
    white-space: nowrap;
    border: 15px solid #fff;
    border-top: 0px; }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .section:nth-child(1) .title-welcome {
    font-size: 50px;
    line-height: 100px; }
    .section:nth-child(1) .title-welcome .title-welcome-color {
      width: 25px;
      height: 25px;
      margin-left: 265px;
      top: 55px; }
    .section:nth-child(1) .title-welcome .title-welcome-first {
      padding: 5px 25px 5px 25px;
      border: 10px solid #000;
      border-bottom: 0px; }
    .section:nth-child(1) .title-welcome .title-welcome-second {
      padding: 5px 25px 5px 25px;
      border: 10px solid #fff;
      border-top: 0px; } }

.section:nth-child(2) {
  z-index: 1; }
  .section:nth-child(2) .head-shot {
    background-color: #000;
    width: 50%;
    height: 100%;
    float: left; }
    .section:nth-child(2) .head-shot img {
      position: relative;
      top: 23%;
      width: 80%;
      opacity: 0; }
  .section:nth-child(2) .intro {
    float: left;
    background-color: #000;
    height: 100vh;
    width: 50%;
    text-align: left; }
    .section:nth-child(2) .intro h3 {
      font-size: 32px;
      color: #cacaca;
      font-weight: bold;
      padding-top: 15%;
      padding-bottom: 2%; }
    .section:nth-child(2) .intro .intro-name {
      font-size: 16px;
      color: #cacaca;
      font-weight: normal;
      padding-bottom: 5%; }
    .section:nth-child(2) .intro .intro-year {
      font-size: 50px;
      color: #333333;
      font-weight: normal;
      border-left: 4px solid #856e40;
      padding-left: 3%;
      opacity: 0; }
      .section:nth-child(2) .intro .intro-year img {
        width: 70px;
        margin-right: 30px;
        margin-left: 10px; }
    .section:nth-child(2) .intro .intro-content {
      font-size: 16px;
      color: #cacaca;
      font-weight: normal;
      padding-top: 2%;
      padding-bottom: 5%;
      opacity: 0;
      line-height: 1.5em; }

.section:nth-child(3) {
  text-align: center; }
  .section:nth-child(3) .award {
    height: 100vh;
    padding-top: 8%;
    text-align: left; }
    .section:nth-child(3) .award h3 {
      font-size: 32px;
      color: #333333;
      font-weight: bold;
      padding-bottom: 2%;
      text-align: center; }
    .section:nth-child(3) .award .award-line {
      height: 2px;
      margin-right: 28%;
      margin-left: 28%;
      background-color: #856e40;
      overflow: hidden;
      opacity: 0; }
    .section:nth-child(3) .award .award-year {
      font-size: 24px;
      color: #cacaca;
      font-weight: bold;
      padding-top: 1%;
      float: left;
      margin-left: 28%;
      opacity: 0; }
    .section:nth-child(3) .award .award-name {
      padding-top: .5%;
      font-weight: bold;
      margin-left: 43%;
      line-height: 24px;
      opacity: 0; }
    .section:nth-child(3) .award .award-content {
      font-weight: normal;
      padding-bottom: .5%; }
      .section:nth-child(3) .award .award-content a {
        text-decoration: none;
        color: #856e40;
        white-space: nowrap; }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .section:nth-child(2) {
    z-index: 1; }
    .section:nth-child(2) .head-shot {
      background-color: #000;
      width: 100%;
      height: 30vh;
      float: clear; }
      .section:nth-child(2) .head-shot img {
        position: relative;
        top: 40%;
        width: 50%;
        left: 0vh;
        opacity: 0;
        z-index: 1; }
    .section:nth-child(2) .intro {
      float: left;
      background-color: #000;
      height: 70vh;
      width: 100%;
      text-align: left; }
      .section:nth-child(2) .intro h3 {
        font-size: 24px;
        color: #cacaca;
        font-weight: bold;
        padding-top: 0px;
        padding-bottom: 2%;
        text-align: right;
        position: relative;
        z-index: 2;
        right: 30px;
        top: -70px; }
      .section:nth-child(2) .intro .intro-name {
        font-size: 14px;
        color: #cacaca;
        font-weight: normal;
        padding-bottom: 10%;
        text-align: right;
        position: relative;
        z-index: 3;
        right: 30px;
        top: -70px; }
      .section:nth-child(2) .intro .intro-year {
        font-size: 16px;
        color: #cacaca;
        font-weight: bold;
        border-left: 4px solid #856e40;
        padding-left: 5%;
        margin-left: 12%;
        opacity: 0; }
        .section:nth-child(2) .intro .intro-year img {
          display: none; }
      .section:nth-child(2) .intro .intro-content {
        font-size: 14px;
        color: #cacaca;
        font-weight: normal;
        padding-top: 2%;
        padding-bottom: 1%;
        margin-left: 12%;
        opacity: 0;
        line-height: 1.5em; }
  .section:nth-child(3) {
    text-align: center; }
    .section:nth-child(3) .award {
      height: 100vh;
      padding-top: 27%;
      text-align: left; }
      .section:nth-child(3) .award h3 {
        font-size: 24px;
        color: #333333;
        font-weight: bold;
        padding-bottom: 2%;
        text-align: center;
        display: none; }
      .section:nth-child(3) .award .award-line {
        height: 1px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 2%;
        background-color: #856e40;
        overflow: hidden;
        opacity: 0; }
        .section:nth-child(3) .award .award-line:nth-child(2) {
          display: none; }
      .section:nth-child(3) .award .award-year {
        font-size: 16px;
        color: #4d4d4d;
        font-weight: bold;
        padding-top: 3%;
        float: left;
        margin-left: 20px;
        opacity: 0; }
      .section:nth-child(3) .award .award-name {
        padding-top: 2%;
        font-weight: bold;
        margin-left: 20%;
        line-height: 18px;
        opacity: 0;
        margin-right: 10px;
        font-size: 14px; }
      .section:nth-child(3) .award .award-content {
        font-weight: normal;
        padding-bottom: 1%;
        font-size: 14px;
        margin-right: 20px; }
        .section:nth-child(3) .award .award-content a {
          text-decoration: none;
          color: #856e40;
          white-space: nowrap; } }

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .section:nth-child(2) {
    z-index: 1; }
    .section:nth-child(2) .head-shot {
      background-color: #000;
      width: 50%;
      height: 100%;
      float: left; }
      .section:nth-child(2) .head-shot img {
        position: relative;
        top: 20%;
        width: 100%;
        opacity: 0;
        left: -5%; }
    .section:nth-child(2) .intro {
      float: left;
      background-color: #000;
      height: 100vh;
      width: 50%;
      text-align: left; }
      .section:nth-child(2) .intro h3 {
        font-size: 32px;
        color: #cacaca;
        font-weight: bold;
        padding-top: 30%;
        margin-bottom: 2%; }
      .section:nth-child(2) .intro .intro-name {
        font-size: 16px;
        color: #cacaca;
        font-weight: normal;
        margin-bottom: 10%; }
      .section:nth-child(2) .intro .intro-year {
        font-size: 50px;
        color: #333333;
        font-weight: normal;
        border-left: 4px solid #856e40;
        padding-left: 3%;
        opacity: 0; }
      .section:nth-child(2) .intro .intro-content {
        font-size: 16px;
        color: #cacaca;
        font-weight: normal;
        margin-top: 5%;
        margin-bottom: 5%;
        opacity: 0;
        line-height: 1.5em; }
  .section:nth-child(3) {
    text-align: center; }
    .section:nth-child(3) .award {
      height: 100vh;
      padding-top: 15%;
      text-align: left; }
      .section:nth-child(3) .award h3 {
        font-size: 32px;
        color: #333333;
        font-weight: bold;
        padding-bottom: 2%;
        text-align: center; }
      .section:nth-child(3) .award .award-line {
        height: 2px;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 1%;
        background-color: #856e40;
        overflow: hidden;
        opacity: 0; }
      .section:nth-child(3) .award .award-year {
        font-size: 24px;
        color: #cacaca;
        font-weight: bold;
        padding-top: 3%;
        float: left;
        margin-left: 10%;
        opacity: 0; }
      .section:nth-child(3) .award .award-name {
        padding-top: 3%;
        font-weight: bold;
        margin-left: 30%;
        margin-right: 10%;
        line-height: 20px;
        opacity: 0; }
      .section:nth-child(3) .award .award-content {
        font-weight: normal;
        padding-top: 0px; }
        .section:nth-child(3) .award .award-content a {
          text-decoration: none;
          color: #856e40;
          white-space: nowrap; } }

.section:nth-child(4) .works-icon {
  text-align: center;
  color: #fff;
  padding-top: 8%;
  position: relative;
  z-index: 5; }
  .section:nth-child(4) .works-icon .works-icon-top div {
    text-align: center;
    display: inline-block;
    line-height: 10px; }
    .section:nth-child(4) .works-icon .works-icon-top div:nth-child(2) {
      margin-left: 10%;
      margin-right: 10%; }
    .section:nth-child(4) .works-icon .works-icon-top div img {
      width: 140px; }
    .section:nth-child(4) .works-icon .works-icon-top div span {
      line-height: 50px;
      font-size: 20px; }
  .section:nth-child(4) .works-icon .works-icon-bottom {
    margin-top: 6%; }
    .section:nth-child(4) .works-icon .works-icon-bottom div {
      text-align: center;
      display: inline-block; }
      .section:nth-child(4) .works-icon .works-icon-bottom div:nth-child(2) {
        margin-left: 10%;
        margin-right: 5%; }
      .section:nth-child(4) .works-icon .works-icon-bottom div:nth-child(3) {
        margin-left: 5%;
        margin-right: 10%; }
      .section:nth-child(4) .works-icon .works-icon-bottom div img {
        width: 100px; }
      .section:nth-child(4) .works-icon .works-icon-bottom div span {
        line-height: 50px;
        font-size: 20px; }

.section:nth-child(4) .main-works {
  font-size: 6.25em;
  font-weight: bold;
  color: #242424;
  width: 80vh;
  white-space: nowrap;
  opacity: 0; }
  .section:nth-child(4) .main-works div {
    background-color: #333333;
    width: 90%;
    height: 80px;
    left: 0px;
    top: -33vh;
    position: relative;
    z-index: 1;
    padding-left: 25%;
    padding-right: 40%; }

.section:nth-child(4) .sub-works {
  font-size: 6.25em;
  font-weight: bold;
  color: #242424;
  opacity: 0;
  white-space: nowrap; }
  .section:nth-child(4) .sub-works div {
    background-color: #333333;
    width: 40%;
    height: 80px;
    left: 15vh;
    top: -20vh;
    z-index: 1;
    position: relative;
    padding-right: 40vh;
    padding-left: 10vh; }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .section:nth-child(4) .works-icon {
    text-align: center;
    color: #fff;
    padding-top: 30%;
    position: relative;
    z-index: 5; }
    .section:nth-child(4) .works-icon .works-icon-top div {
      text-align: center;
      display: inline-block;
      line-height: 10px; }
      .section:nth-child(4) .works-icon .works-icon-top div:nth-child(2) {
        margin-left: 5%;
        margin-right: 5%; }
      .section:nth-child(4) .works-icon .works-icon-top div img {
        width: 50px; }
      .section:nth-child(4) .works-icon .works-icon-top div span {
        line-height: 25px;
        font-size: 16px; }
    .section:nth-child(4) .works-icon .works-icon-bottom {
      margin-top: 30%; }
      .section:nth-child(4) .works-icon .works-icon-bottom div {
        text-align: center;
        display: inline-block; }
        .section:nth-child(4) .works-icon .works-icon-bottom div:nth-child(1) {
          margin-left: 17%;
          margin-right: 2%; }
        .section:nth-child(4) .works-icon .works-icon-bottom div:nth-child(2) {
          margin-left: 2%;
          margin-right: 17%; }
        .section:nth-child(4) .works-icon .works-icon-bottom div:nth-child(3) {
          margin-top: 7%;
          margin-left: 20%;
          margin-right: 5%; }
        .section:nth-child(4) .works-icon .works-icon-bottom div:nth-child(4) {
          margin-top: 7%;
          margin-left: 7%;
          margin-right: 17%; }
        .section:nth-child(4) .works-icon .works-icon-bottom div img {
          width: 45px; }
        .section:nth-child(4) .works-icon .works-icon-bottom div span {
          line-height: 25px;
          font-size: 16px; }
  .section:nth-child(4) .main-works {
    font-size: 50px;
    font-weight: bold;
    color: #242424;
    width: 40vh;
    white-space: nowrap;
    opacity: 0; }
    .section:nth-child(4) .main-works div {
      background-color: #333333;
      width: 90%;
      height: 70px;
      left: 0px;
      top: -42vh;
      position: relative;
      z-index: 1;
      padding-left: 10%;
      padding-right: 40%; }
  .section:nth-child(4) .sub-works {
    font-size: 50px;
    font-weight: bold;
    color: #242424;
    opacity: 0;
    white-space: nowrap; }
    .section:nth-child(4) .sub-works div {
      background-color: #333333;
      width: 40%;
      height: 70px;
      left: 0px;
      top: -17vh;
      z-index: 1;
      position: relative;
      padding-right: 40vh;
      padding-left: 6vh; } }

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .section:nth-child(4) .works-icon {
    text-align: center;
    color: #fff;
    padding-top: 15%;
    position: relative;
    z-index: 5; }
    .section:nth-child(4) .works-icon .works-icon-top div {
      text-align: center;
      display: inline-block;
      line-height: 10px; }
      .section:nth-child(4) .works-icon .works-icon-top div:nth-child(2) {
        margin-left: 10%;
        margin-right: 10%; }
      .section:nth-child(4) .works-icon .works-icon-top div img {
        width: 140px; }
      .section:nth-child(4) .works-icon .works-icon-top div span {
        line-height: 50px;
        font-size: 20px; }
    .section:nth-child(4) .works-icon .works-icon-bottom {
      margin-top: 15%; }
      .section:nth-child(4) .works-icon .works-icon-bottom div {
        text-align: center;
        display: inline-block; }
        .section:nth-child(4) .works-icon .works-icon-bottom div:nth-child(2) {
          margin-left: 10%;
          margin-right: 5%; }
        .section:nth-child(4) .works-icon .works-icon-bottom div:nth-child(3) {
          margin-left: 5%;
          margin-right: 10%; }
        .section:nth-child(4) .works-icon .works-icon-bottom div img {
          width: 100px; }
        .section:nth-child(4) .works-icon .works-icon-bottom div span {
          line-height: 50px;
          font-size: 20px; }
  .section:nth-child(4) .main-works {
    font-size: 6.25em;
    font-weight: bold;
    color: #242424;
    width: 80vh;
    white-space: nowrap;
    opacity: 0; }
    .section:nth-child(4) .main-works div {
      background-color: #333333;
      width: 90%;
      height: 80px;
      left: 0px;
      top: -28vh;
      position: relative;
      z-index: 1;
      padding-left: 10%;
      padding-right: 40%; }
  .section:nth-child(4) .sub-works {
    font-size: 6.25em;
    font-weight: bold;
    color: #242424;
    opacity: 0;
    white-space: nowrap; }
    .section:nth-child(4) .sub-works div {
      background-color: #333333;
      width: 40%;
      height: 80px;
      left: 5vh;
      top: -15vh;
      z-index: 1;
      position: relative;
      padding-right: 40vh;
      padding-left: 10vh; } }

@-webkit-keyframes work-hover-in {
  0% {
    width: 0px;
    height: 100%;
    background-color: #856e40; }
  20% { }
  100% {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a; } }

@-webkit-keyframes work-hover-out {
  0% {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a; }
  20% { }
  100% {
    width: 0px;
    height: 100%;
    background-color: #856e40; } }

@-webkit-keyframes work-text-hover-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes work-text-hover-out {
  100 {
    opacity: 1; }
  0 {
    opacity: 0; } }

.container .works {
  background-color: #1a1a1a; }
  .container .works .graphic, .container .works .photography, .container .works .motionfilm, .container .works .webvisual {
    height: 100vh; }
    .container .works .graphic h3, .container .works .photography h3, .container .works .motionfilm h3, .container .works .webvisual h3 {
      text-align: center;
      padding-top: 8%;
      padding-bottom: 2%;
      font-size: 32px;
      font-weight: bold;
      color: #cacaca; }
    .container .works .graphic .works-wrap, .container .works .photography .works-wrap, .container .works .motionfilm .works-wrap, .container .works .webvisual .works-wrap {
      background-position: center;
      background-size: cover;
      background-image: url(../imgs/svg/bg_works_graphic.svg);
      background-color: #1a1a1a; }
      .container .works .graphic .works-wrap .works-box, .container .works .photography .works-wrap .works-box, .container .works .motionfilm .works-wrap .works-box, .container .works .webvisual .works-wrap .works-box {
        display: inline-block;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 3%; }
        .container .works .graphic .works-wrap .works-box .works-imgbox:hover .works-box-hover, .container .works .photography .works-wrap .works-box .works-imgbox:hover .works-box-hover, .container .works .motionfilm .works-wrap .works-box .works-imgbox:hover .works-box-hover, .container .works .webvisual .works-wrap .works-box .works-imgbox:hover .works-box-hover {
          -webkit-animation: work-hover-in 1s forwards;
          animation: work-hover-in 1s forwards; }
        .container .works .graphic .works-wrap .works-box .works-imgbox:hover .works-box-hover-text, .container .works .photography .works-wrap .works-box .works-imgbox:hover .works-box-hover-text, .container .works .motionfilm .works-wrap .works-box .works-imgbox:hover .works-box-hover-text, .container .works .webvisual .works-wrap .works-box .works-imgbox:hover .works-box-hover-text {
          -webkit-animation: work-text-hover-in 2s forwards;
          animation: work-text-hover-in 2s forwards; }
        .container .works .graphic .works-wrap .works-box .works-imgbox, .container .works .photography .works-wrap .works-box .works-imgbox, .container .works .motionfilm .works-wrap .works-box .works-imgbox, .container .works .webvisual .works-wrap .works-box .works-imgbox {
          width: 360px;
          height: 202px;
          margin-bottom: 20px;
          background-size: cover; }
          .container .works .graphic .works-wrap .works-box .works-imgbox a, .container .works .photography .works-wrap .works-box .works-imgbox a, .container .works .motionfilm .works-wrap .works-box .works-imgbox a, .container .works .webvisual .works-wrap .works-box .works-imgbox a {
            text-decoration: none;
            white-space: nowrap;
            color: #fff; }
            .container .works .graphic .works-wrap .works-box .works-imgbox a .works-box-hover, .container .works .photography .works-wrap .works-box .works-imgbox a .works-box-hover, .container .works .motionfilm .works-wrap .works-box .works-imgbox a .works-box-hover, .container .works .webvisual .works-wrap .works-box .works-imgbox a .works-box-hover {
              width: 0px;
              margin: 0px;
              background-color: #856e40;
              overflow: hidden;
              -webkit-animation: work-hover-out 1s forwards;
              animation: work-hover-out 1s forwards; }
              .container .works .graphic .works-wrap .works-box .works-imgbox a .works-box-hover div, .container .works .photography .works-wrap .works-box .works-imgbox a .works-box-hover div, .container .works .motionfilm .works-wrap .works-box .works-imgbox a .works-box-hover div, .container .works .webvisual .works-wrap .works-box .works-imgbox a .works-box-hover div {
                font-size: 20px;
                color: #856e40;
                font-weight: bold;
                line-height: 28px;
                white-space: normal;
                text-align: center;
                opacity: 0;
                padding-top: 30px;
                height: 100px;
                -webkit-animation: work-text-hover-out 2s forwards;
                animation: work-text-hover-out 2s forwards; }
                .container .works .graphic .works-wrap .works-box .works-imgbox a .works-box-hover div span, .container .works .photography .works-wrap .works-box .works-imgbox a .works-box-hover div span, .container .works .motionfilm .works-wrap .works-box .works-imgbox a .works-box-hover div span, .container .works .webvisual .works-wrap .works-box .works-imgbox a .works-box-hover div span {
                  font-size: 16px;
                  color: #cacaca;
                  font-weight: normal; }
            .container .works .graphic .works-wrap .works-box .works-imgbox a img, .container .works .photography .works-wrap .works-box .works-imgbox a img, .container .works .motionfilm .works-wrap .works-box .works-imgbox a img, .container .works .webvisual .works-wrap .works-box .works-imgbox a img {
              padding-bottom: 7%; }
        .container .works .graphic .works-wrap .works-box span, .container .works .photography .works-wrap .works-box span, .container .works .motionfilm .works-wrap .works-box span, .container .works .webvisual .works-wrap .works-box span {
          font-size: 16px;
          font-weight: normal;
          color: #cacaca; }
  .container .works .photography .works-wrap {
    background-position: center;
    background-size: cover;
    background-color: #1a1a1a;
    background-image: url(../imgs/svg/bg_works_photography.svg); }
  .container .works .webvisual .works-wrap {
    background-position: center;
    background-size: cover;
    background-color: #1a1a1a;
    background-image: url(../imgs/svg/bg_works_webvisual.svg); }
  .container .works .motionfilm .works-wrap {
    background-position: center;
    background-size: cover;
    background-color: #1a1a1a;
    background-image: url(../imgs/svg/bg_works_motionfilm.svg); }

/* external css: flickity.css */
.works .carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden; }

.carousel {
  background: #1a1a1a;
  height: 100%; }
  .carousel .works-content {
    color: #cacaca;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-weight: bold;
    line-height: 32px; }
    .carousel .works-content .works-content-year {
      font-size: 50px;
      color: #cacaca;
      margin-bottom: 5%; }
    .carousel .works-content .works-content-category {
      color: #4d4d4d; }
    .carousel .works-content .works-content-title {
      font-size: 20px;
      color: #856e40;
      padding-bottom: 4%;
      border-bottom: 1px solid #333333; }
    .carousel .works-content .works-content-spec {
      font-size: 20px;
      color: #cacaca;
      padding-top: 4%; }
    .carousel .works-content .works-content-discription {
      font-size: 16px;
      color: #cacaca;
      font-weight: normal; }
      .carousel .works-content .works-content-discription a {
        color: #856e40;
        text-decoration: none;
        font-weight: bold; }

.carousel-cell {
  margin-right: 20px;
  overflow: hidden; }
  .carousel-cell img {
    height: 88vh; }

.flickity-prev-next-button.next {
  margin-right: 40%;
  top: 92vh; }

.flickity-prev-next-button.previous {
  margin-left: 40%;
  top: 92vh; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-skin {
  padding: 0; }

.fancybox-title, .fancybox-title-inside-wrap {
  display: none; }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .container .works {
    background-color: #1a1a1a; }
    .container .works .graphic, .container .works .photography, .container .works .motionfilm, .container .works .webvisual {
      height: 100vh; }
      .container .works .graphic h3, .container .works .photography h3, .container .works .motionfilm h3, .container .works .webvisual h3 {
        text-align: center;
        padding-top: 25%;
        padding-bottom: 2%;
        font-size: 32px;
        font-weight: bold;
        color: #cacaca; }
      .container .works .graphic .works-wrap, .container .works .photography .works-wrap, .container .works .motionfilm .works-wrap, .container .works .webvisual .works-wrap {
        background-position: center;
        background-size: cover;
        background-image: url(../imgs/svg/bg_works_graphic.svg);
        background-color: #1a1a1a; }
        .container .works .graphic .works-wrap .works-box, .container .works .photography .works-wrap .works-box, .container .works .motionfilm .works-wrap .works-box, .container .works .webvisual .works-wrap .works-box {
          display: inline-block;
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 15%;
          padding-bottom: 3%; }
          .container .works .graphic .works-wrap .works-box .works-imgbox:hover .works-box-hover, .container .works .photography .works-wrap .works-box .works-imgbox:hover .works-box-hover, .container .works .motionfilm .works-wrap .works-box .works-imgbox:hover .works-box-hover, .container .works .webvisual .works-wrap .works-box .works-imgbox:hover .works-box-hover {
            -webkit-animation: work-hover-in 1s forwards;
            animation: work-hover-in 1s forwards; }
          .container .works .graphic .works-wrap .works-box .works-imgbox:hover .works-box-hover-text, .container .works .photography .works-wrap .works-box .works-imgbox:hover .works-box-hover-text, .container .works .motionfilm .works-wrap .works-box .works-imgbox:hover .works-box-hover-text, .container .works .webvisual .works-wrap .works-box .works-imgbox:hover .works-box-hover-text {
            -webkit-animation: work-text-hover-in 2s forwards;
            animation: work-text-hover-in 2s forwards; }
          .container .works .graphic .works-wrap .works-box .works-imgbox, .container .works .photography .works-wrap .works-box .works-imgbox, .container .works .motionfilm .works-wrap .works-box .works-imgbox, .container .works .webvisual .works-wrap .works-box .works-imgbox {
            width: 288px;
            height: 162px;
            margin-bottom: 20px;
            background-size: cover; }
            .container .works .graphic .works-wrap .works-box .works-imgbox a, .container .works .photography .works-wrap .works-box .works-imgbox a, .container .works .motionfilm .works-wrap .works-box .works-imgbox a, .container .works .webvisual .works-wrap .works-box .works-imgbox a {
              text-decoration: none;
              white-space: nowrap;
              color: #fff; }
              .container .works .graphic .works-wrap .works-box .works-imgbox a .works-box-hover, .container .works .photography .works-wrap .works-box .works-imgbox a .works-box-hover, .container .works .motionfilm .works-wrap .works-box .works-imgbox a .works-box-hover, .container .works .webvisual .works-wrap .works-box .works-imgbox a .works-box-hover {
                width: 0px;
                margin: 0px;
                background-color: #856e40;
                -webkit-animation: work-hover-out 1s forwards;
                animation: work-hover-out 1s forwards; }
                .container .works .graphic .works-wrap .works-box .works-imgbox a .works-box-hover div, .container .works .photography .works-wrap .works-box .works-imgbox a .works-box-hover div, .container .works .motionfilm .works-wrap .works-box .works-imgbox a .works-box-hover div, .container .works .webvisual .works-wrap .works-box .works-imgbox a .works-box-hover div {
                  font-size: 20px;
                  color: #856e40;
                  font-weight: bold;
                  line-height: 28px;
                  white-space: normal;
                  text-align: center;
                  opacity: 0;
                  padding-top: 30px;
                  height: 100px;
                  -webkit-animation: work-text-hover-out 2s forwards;
                  animation: work-text-hover-out 2s forwards; }
                  .container .works .graphic .works-wrap .works-box .works-imgbox a .works-box-hover div span, .container .works .photography .works-wrap .works-box .works-imgbox a .works-box-hover div span, .container .works .motionfilm .works-wrap .works-box .works-imgbox a .works-box-hover div span, .container .works .webvisual .works-wrap .works-box .works-imgbox a .works-box-hover div span {
                    font-size: 16px;
                    color: #cacaca;
                    font-weight: normal; }
          .container .works .graphic .works-wrap .works-box span, .container .works .photography .works-wrap .works-box span, .container .works .motionfilm .works-wrap .works-box span, .container .works .webvisual .works-wrap .works-box span {
            font-size: 16px;
            font-weight: normal;
            color: #cacaca; }
  /* external css: flickity.css */
  .works .carousel {
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    overflow: hidden; }
  .carousel {
    background: #1a1a1a;
    height: 100%; }
    .carousel .works-content {
      color: #cacaca;
      margin-top: 15%;
      margin-left: 15%;
      margin-right: 15%;
      text-align: right;
      font-weight: bold;
      line-height: 32px; }
      .carousel .works-content .works-content-year {
        font-size: 32px;
        color: #cacaca;
        margin-bottom: 5%; }
      .carousel .works-content .works-content-category {
        color: #4d4d4d; }
      .carousel .works-content .works-content-title {
        font-size: 20px;
        padding-bottom: 4%;
        border-bottom: 1px solid #333333; }
      .carousel .works-content .works-content-spec {
        font-size: 20px;
        padding-top: 4%; }
      .carousel .works-content .works-content-discription {
        font-size: 14px;
        color: #cacaca;
        font-weight: normal; }
        .carousel .works-content .works-content-discription a {
          color: #856e40;
          text-decoration: none;
          font-weight: bold; }
  .carousel-cell {
    margin-right: 20px;
    overflow: hidden; }
    .carousel-cell img {
      height: 86vh; }
  .flickity-prev-next-button.next {
    margin-right: 20%;
    width: 30px;
    height: 30px;
    top: 90vh; }
  .flickity-prev-next-button.previous {
    margin-left: 20%;
    width: 30px;
    height: 30px;
    top: 90vh; }
  .fancybox-inner {
    overflow: hidden; }
  .fancybox-skin {
    padding: 0; }
  .fancybox-title, .fancybox-title-inside-wrap {
    display: none; } }

.loading-page-bg {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: fixed;
  z-index: 10;
  overflow: hidden; }
  .loading-page-bg .loading-page {
    margin: 38vh auto;
    width: 180px;
    height: 180px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear; }
  .loading-page-bg .dot1, .loading-page-bg .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #cacaca;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out; }
  .loading-page-bg .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(../imgs/fancybox_sprite.png); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(../imgs/fancybox_overlay.png); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(../imgs/fancybox_sprite@2x.png);
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url(fancybox_loading@2x.gif);
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

/*! Flickity v2.0.5
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: 0; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: #fff; }

.flickity-prev-next-button:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  opacity: .6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: .3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: .25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }
