

// logo //
@-webkit-keyframes logo-in
  0%
    width: 40px
  20%
    height: 50px
  100%
    width: 120px
    height: 50px

@-webkit-keyframes logo-out
  0%
    width: 120px
    height: 50px
  20%
    height: 40px
  100%
    width: 40px


// brief //
@-webkit-keyframes brief-in
  0%
    width: 40px
    height: 20px
  20%
    height: 20px
    height: 7px
  100%
    width: 80px
    height: 20px

@-webkit-keyframes brief-out
  0%
    width: 80px
    height: 20px
  20%
    height: 7px
  100%
    width: 40px
    height: 20px

// works //
@-webkit-keyframes works-in
  0%
    width: 80px
    height: 20px
  20%
    height: 20px
    height: 7px
  100%
    width: 120px
    height: 20px
@-webkit-keyframes works-out
  0%
    width: 120px
    height: 30px
  20%
    height: 7px
  100%
    width: 80px
    height: 20px

// menu display block //
@-webkit-keyframes menu-in
	0%
		height: 0px
		padding-bottom: 0px
	100%
		height: 100px
		padding-bottom: 50px
@-webkit-keyframes menu-out
	0%
		height: 100px
		padding-bottom: 50px
	100%
		height: 0px
		padding-bottom: 0px


// menu text opacity //
@-webkit-keyframes menu-text-in
	0%
		visibility: hidden
		opacity: 0
	100%
		opacity: 1
@-webkit-keyframes menu-text-out
	0%
		opacity: 1
	100%
		opacity: 0

// menu-mobile display block //
@-webkit-keyframes menu-mobile-in
	0%
		height: 0px
		padding-bottom: 0px
	100%
		height: 100px
		padding-bottom: 350px
@-webkit-keyframes menu-mobile-out
	0%
		height: 100px
		padding-bottom: 350px
	100%
		height: 0px
		padding-bottom: 0px


.nav
	background-color: $color-1
	top: 0px
	width: 100%
	height: 100px
	position: fixed
	z-index: 1
	ul
		font-weight: bold
		width: 100%
		top: 30px
		list-style-type: none
		position: relative
		li
			a
				text-decoration: none
				color: $color-4
				font-size: $size-H4
				white-space: nowrap
			&:nth-child(1)
				margin-left: 10%
				.nav-logo
					padding-left: 10px
					width: 40px
					height: 40px
					background-color: $color-spec
					position: absolute
					animation: logo-out 1s forwards
			&:nth-child(1):hover .nav-logo
				animation: logo-in 1s forwards
			&:nth-child(2)
				font-size: 70%
				left: 70%
				top: 10px
				position: relative
				.nav-brief
					padding-left: 10px
					width: 80px
					height: 20px
					background-color: $color-spec
					position: absolute
					animation: brief-out 1s forwards
			&:nth-child(2):hover .nav-brief
				animation: brief-in 1s forwards

			&:nth-child(3)
				font-size: 70%
				top: 10px
				right: 20%
				height: 70px
				background-color: $color-spec
				text-align: center
				position: absolute
				z-index: 5
				.nav-works
					position: absolute
					width: 80px
					height: 15px
					margin-left: 35px
					padding-left: 15px
					background-color: $color-spec
					z-index: 2
					animation: works-out 1s forwards
					overflow: hidden
			&:nth-child(3):hover .nav-works
				animation: works-in .5s forwards
			&:nth-child(3):hover .menu-works
				animation: menu-in 1s forwards
			&:nth-child(3):hover .menu-works-g
				display: block
				animation: menu-text-in 1s forwards
			&:nth-child(3):hover .menu-works-w
				display: block
				animation: menu-text-in 1.5s forwards
			&:nth-child(3):hover .menu-works-m
				display: block
				animation: menu-text-in 2s forwards
			.menu-works
				top: 0px
				width: 125px
				height: 0px
				padding: 50px 50px 0px 50px
				line-height: 3em
				background-color: $color-1
				position: absolute
				z-index: 1
				animation: menu-out 1s forwards
				.menu-works-g
					display: none
					opacity: 0
					animation: menu-text-out 1s forwards
				.menu-works-w
					display: none
					opacity: 0
					animation: menu-text-out 1s forwards
				.menu-works-m
					display: none
					opacity: 0
					animation: menu-text-out 1s forwards


			.menu-works a:hover
				color: $color-spec
				













.section
	.scroll-down-text-3
		font-size: $size-H2
		font-weight: bold
		color: #fff
		z-index: 4
		position: absolute
	.scroll-down-works
		width: 30%
		height: 120px
		background-color: $color-spec
		z-index: 3
		position: absolute
	.arrow-down-3
		width: 30px
		z-index: 4
		position: absolute










@media only screen and (min-width: 300px) and (max-width: 980px)
	.nav
		height: 230px
		background-color: $color-2
		ul
			top: 55px
			li
				a
					font-size: 50px
				&:nth-child(1)
					margin-left: 10%
					.nav-logo
						padding-left: 10px
						line-height: 1.25em
				&:nth-child(1):hover .nav-logo
					animation: logo-in 1s forwards
				&:nth-child(2)
					display: none
					.nav-brief
				&:nth-child(2):hover .nav-brief
				&:nth-child(3)
					right: 55%
					.nav-works
						top: 30px
						height: 27px
						margin-left: 220px
						padding-left: 40px
						overflow: visible
				&:nth-child(3):hover .nav-works
					animation: menu-xx-in-out 1s forwards
				&:nth-child(3):hover .menu-works
					animation: menu-xx-in 1s forwards
				&:nth-child(3):hover .menu-works-gs
					animation: menu-xx-in-out 1s forwards
				&:nth-child(3):hover .menu-works-w
					animation: menu-xx-in-out 1s forwards
				&:nth-child(3):hover .menu-works-m
					animation: menu-xx-in-out 1s forwards
				.menu-works
					width: 400px
					height: 450px
					padding: 140px 100px 0px 50px
					background-color: $color-2
					line-height: 10em
					text-align: right
					.menu-works-g
						display:block
						opacity: 1
						animation: menu-xx-out 1s forwards
					.menu-works-w
						display:block
						opacity: 1
						animation: menu-xx-in-out 1s forwards
					.menu-works-m
						display:block
						opacity: 1
						animation: menu-xx-out 1s forwards
				.menu-works a:hover
					color: $color-spec
