/*  SECTIONS  ============================================================================= */
.section{clear:both;padding:0;margin:0;}
/*  GROUPING  ============================================================================= */
.group:before,.group:after{content:"";display:table;}
.group:after{clear:both;}
.group{zoom:1;/* For IE 6/7 (trigger hasLayout) */}
/*  GRID COLUMN SETUP   ==================================================================== */
.col{display:block;float:left;margin:1% 0 1% 1.6%;}
.col:first-child,.focussec .col:nth-child(3n+1){margin-left:0;}
/* all browsers except IE6 and lower *//*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 750px) {
.col{margin:1% 0;}
}
/*  GRID OF TWO   ============================================================================= */
.span2of2{width:100%;}
.span1of2{width:49.2%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */@media only screen and (max-width: 750px) {
.span2of2{width:100%;}
.span1of2{width:100%;margin-left: 0;}
}

/*  GRID OF THREE   ============================================================================= */
.span3of3{width:100%;}
.span2of3{width:66.13%;}
.span1of3{width:32.26%;}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */@media only screen and (max-width: 750px) {
.span3of3{width:100%;}
.span2of3{width:100%;}
.span1of3{width:100%;}
}
/*  GRID OF FOUR   ============================================================================= */
.span4of4{width:100%;}
.span3of4{width:74.6%;}
.span2of4{width:49.2%;}
.span1of4{width:23.8%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */@media only screen and (max-width: 750px) {
.span4of4{width:100%;}
.span3of4{width:100%;}
.span2of4{width:100%;}
.span1of4{width:100%;}
}
/*  GRID OF FIVE   ============================================================================= */
.span5of5{width:100%;}
.span4of5{width:79.68%;}
.span3of5{width:59.36%;}
.span2of5{width:39.04%;}
.span1of5{width:18.72%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */@media only screen and (max-width: 750px) {
.span5of5{width:100%;}
.span4of5{width:100%;}
.span3of5{width:100%;}
.span2of5{width:100%;}
.span1of5{width:100%;}
}
/*  GRID OF SIX   ============================================================================= */
.span6of6{width:100%;}
.span5of6{width:83.06%;}
.span4of6{width:66.13%;}
.span3of6{width:49.2%;}
.span2of6{width:32.26%;}
.span1of6{width:15.33%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */@media only screen and (max-width: 750px) {
.span6of6{width:100%;}
.span5of6{width:100%;}
.span4of6{width:100%;}
.span3of6{width:100%;}
.span2of6{width:100%;}
.span1of6{width:100%;}
}
/*  GRID OF SEVEN   ============================================================================= */
.span7of7{width:100%;}
.span6of7{width:85.48%;}
.span5of7{width:70.97%;}
.span4of7{width:56.45%;}
.span3of7{width:41.94%;}
.span2of7{width:27.42%;}
.span1of7{width:12.91%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */@media only screen and (max-width: 750px) {
.span7of7{width:100%;}
.span6of7{width:100%;}
.span5of7{width:100%;}
.span4of7{width:100%;}
.span3of7{width:100%;}
.span2of7{width:100%;}
.span1of7{width:100%;}
}
/*  GRID OF EIGHT   ============================================================================= */
.span8of8{width:100%;}
.span7of8{width:87.3%;}
.span6of8{width:74.6%;}
.span5of8{width:61.9%;}
.span4of8{width:49.2%;}
.span3of8{width:36.5%;}
.span2of8{width:23.8%;}
.span1of8{width:11.1%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 750px) {
.span8of8{width:100%;}
.span7of8{width:100%;}
.span6of8{width:100%;}
.span5of8{width:100%;}
.span4of8{width:100%;}
.span3of8{width:100%;}
.span2of8{width:100%;}
.span1of8{width:100%;}
}
/*  GRID OF NINE   ============================================================================= */
.span9of9{width:100%;}
.span8of9{width:88.71%;}
.span7of9{width:77.42%;}
.span6of9{width:66.13%;}
.span5of9{width:54.84%;}
.span4of9{width:43.55%;}
.span3of9{width:32.26%;}
.span2of9{width:20.97%;}
.span1of9{width:9.68%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 750px) {
.span9of9{width:100%;}
.span8of9{width:100%;}
.span7of9{width:100%;}
.span6of9{width:100%;}
.span5of9{width:100%;}
.span4of9{width:100%;}
.span3of9{width:100%;}
.span2of9{width:100%;}
.span1of9{width:100%;}
}
/*  GRID OF TEN   ============================================================================= */
.span10of10{width:100%;}
.span9of10{width:89.84%;}
.span8of10{width:79.68%;}
.span7of10{width:69.52%;}
.span6of10{width:59.36%;}
.span5of10{width:49.2%;}
.span4of10{width:39.04%;}
.span3of10{width:28.88%;}
.span2of10{width:18.72%;}
.span1of10{width:8.56%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 750px) {
.span10of10{width:100%;}
.span9of10{width:100%;}
.span8of10{width:100%;}
.span7of10{width:100%;}
.span6of10{width:100%;}
.span5of10{width:100%;}
.span4of10{width:100%;}
.span3of10{width:100%;}
.span2of10{width:100%;}
.span1of10{width:100%;}
}
/*  GRID OF ELEVEN   ============================================================================= */
.span11of11{width:100%;}
.span10of11{width:90.76%;}
.span9of11{width:81.52%;}
.span8of11{width:72.29%;}
.span7of11{width:63.05%;}
.span6of11{width:53.81%;}
.span5of11{width:44.58%;}
.span4of11{width:35.34%;}
.span3of11{width:26.1%;}
.span2of11{width:16.87%;}
.span1of11{width:7.63%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 750px) {
.span11of11{width:100%;}
.span10of11{width:100%;}
.span9of11{width:100%;}
.span8of11{width:100%;}
.span7of11{width:100%;}
.span6of11{width:100%;}
.span5of11{width:100%;}
.span4of11{width:100%;}
.span3of11{width:100%;}
.span2of11{width:100%;}
.span1of11{width:100%;}
}
/*  GRID OF TWELVE   ============================================================================= */
.span12of12{width:100%;}
.span11of12{width:91.53%;}
.span10of12{width:83.06%;}
.span9of12{width:74.6%;}
.span8of12{width:66.13%;}
.span7of12{width:57.66%;}
.span6of12{width:49.2%;}
.span5of12{width:40.73%;}
.span4of12{width:32.26%;}
.span3of12{width:23.8%;}
.span2of12{width:15.33%;}
.span1of12{width:6.86%;}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 750px) {

	.span11of12,
	.span10of12,
	.span9of12,
	.span8of12,
	.span7of12,
	.span6of12,
	.span5of12,
	.span4of12,
	.span3of12,
	.span2of12,
	.span1of12{width:100%;}


}

