// colors

$color-1: #3a2c41; // Blackcurrant
$color-2: #333; // Willow Brook
$color-3: #000000; // Black
$color-4: #c0a672; // Gimblet


$NavLinkCr: #0B0896 ;// nav basic color
$NavLinkCrHover: #ff6611 ; //hover color >> nav
$NavDotCr: #108407 ;//dot Bg color
$NavDotCrHover: #8EC5FC ;//hover color >>dot
$navBgColor: #63666a;



$colorOrg: #ed8b00; //橘色
$colorG1: #e6e6e6; //淺灰色
$colorG2: #bdcbca; //中灰色
$colorG3: #63666a; //深灰色
$colorWh: #fff;
$colorBl: #5e8ab4; //藍色
$colorPu: #9d74b4; //紫色
$colorGr: #b9b631; //綠色

// fonts 
$familyFont:'Microsoft JhengHei','Heiti TC',arial;
$primary-font: 'Sintony', sans-serif;



$hoverColor: #fff ;
$hoverBgColor: #ff6611;
